# Dependencies
node_modules/

# Build output
dist/

# Coverage
coverage/

# Environment files
.env
.env.*
!.env.example

# IDE / OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# NestJS
*.log
npm-debug.log*
